# Android specific
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab

# Node.js / Server specific
node_modules/
.env
*.log
uploads/

# Common
.DS_Store
